In [1]:
import math
import pandas as pd
import numpy as np

data = {
    "AGE": ["Young","Young","Young","Young","Young","Middle","Middle","Middle","Middle","Middle",
            "Old","Old","Old","Old","Old"],
    "JOB_STATUS": [False,False,True,True,False,False,False,True,False,False,
                   False,False,True,True,False],
    "OWNS_HOUSE": [False,False,False,True,False,False,False,True,True,True,
                   True,True,False,False,False],
    "CREDIT_RATING": ["Fair","Good","Good","Fair","Fair","Fair","Good","Good","Excellent","Excellent",
                      "Excellent","Good","Good","Excellent","Fair"],
    "CLASS": ["No","No","Yes","Yes","No","No","No","Yes","Yes","Yes",
              "Yes","Yes","Yes","Yes","No"]
}

data = pd.DataFrame(data)
data.head()

     AGE  JOB_STATUS  OWNS_HOUSE CREDIT_RATING CLASS
0  Young       False       False          Fair    No
1  Young       False       False          Good    No
2  Young        True       False          Good   Yes
3  Young        True        True          Fair   Yes
4  Young       False       False          Fair    No

In [6]:
import pandas as pd
import math

def entropy(column):
    values = column.value_counts()
    total = len(column)
    ent = 0

    for count in values:
        p = count / total
        ent += -p * math.log2(p)
    return ent


def information_gain(data, attribute, target="CLASS"):
    ent_entire = entropy(data[target])
    values = data[attribute].unique()
    weighted_entropy = 0

    for v in values:
        subset = data[data[attribute] == v]
        weight = len(subset) / len(data)
        weighted_entropy += weight * entropy(subset[target])

    return ent_entire - weighted_entropy


# Example usage:
x = data.drop("CLASS", axis=1)
y = data["CLASS"]

igs = []
features = x.columns

for feat in features:
    ig = information_gain(data, feat, "CLASS")
    igs.append((feat, ig))

root_feat, root_ig = max(igs, key=lambda x: x[1])

print("\nHighest Information Gain:", root_ig)
print("Root Node:", root_feat)

Highest Information Gain: 0.4199730940219749
Root Node: OWNS_HOUSE